html {
    font-size: 62.5%;
    /* 16px base so 1rem = 16px */
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #DF7C14;
    width: 100%;
}

.container {
    max-width: 144rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.nav-links {
    display: flex;
    gap: 5.1rem;
    height: 7rem;
    align-items: center;
    margin-right: 3rem;
}

.container a.logo {
    font-size: 2.8rem;
    color: white;
    padding-left: 3rem;
    text-decoration: none;
}

.nav-links a {
    color: white;
    font-size: 1.45rem;
    font-weight: 500;
    text-decoration: none;

}

.nav-links li {
    list-style: none;
}


.nav-links a.contact {
    display: block;
    background: white;
    color: #DC7000;
    border-radius: 0.6rem;
    padding: 1rem 2.4rem;
}

.burger {
    display: none;
}

.burger img {
    width: 3rem;
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.nav-links li:nth-child(2),
.nav-links li:nth-child(3),
.nav-links li:nth-child(4) {
    display: none;
}

.burger {
    display: block;
    padding-right: 3rem;
}

@media (min-width: 720px) {
    .nav-links li:nth-child(4) {
        display: block;
    }
}

@media (min-width: 630px) {
    .nav-links li:nth-child(2) {
        display: block;
    }
}

@media (min-width: 513px) {
    .nav-links li:nth-child(3) {
        display: block;
    }

    .burger {
        display: none;
    }

}

@media (min-widhth: 344px)and (max-widhth: 512px) {

    .nav-links li:nth-child(5),
    .nav-links li:nth-child(1) {
        display: none;
    }
}



.img-container {
    position: relative;
    width: 100%;
    max-width: 1438px;
}

.img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
}