html {
    font-size: 62.5%;

    /* 16px base so 1rem = 16px */
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 144rem;
    margin: 0px auto;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section-header {

    background-color: #DF7C14;
}

.header {
    max-width: 144rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}



.nav-links {
    display: flex;
    gap: 5.1rem;
    height: 7rem;
    align-items: center;
    margin-right: 3rem;
}

.header a.logo {
    font-size: 2.8rem;
    color: white;
    padding-left: 3rem;
    text-decoration: none;
}

.nav-links a {
    color: white;
    font-size: 1.45rem;
    font-weight: 500;
    text-decoration: none;

}

.nav-links li {
    list-style: none;
}


.nav-links a.contact {
    display: block;
    background: white;
    color: #DC7000;
    border-radius: 0.6rem;
    padding: 1rem 2.4rem;
}

.burger {
    display: none;
}

.burger img {
    width: 3rem;
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.nav-links li:nth-child(2),
.nav-links li:nth-child(3),
.nav-links li:nth-child(4) {
    display: none;
}

.burger {
    display: block;
    padding-right: 3rem;
}

.showcase {
    position: relative;
    max-height: 79rem;

}

.cnt-showcase {
    position: relative;
    min-width: 26rem;
    max-width: 47rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10rem;
}

.title-1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.56;
    color: #E87D0E;
}

.title-2 {

    font-size: 3.3rem;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 400;
}

.btn {
    border-radius: 3rem;
    background-color: #DF7C14;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1.4rem 1.4rem;
    width: max-content;
}

.btn-style {
    font-size: 1.5rem;
    font-weight: 500;
}

.svg-img {
    aspect-ratio: 1438/546;
    position: absolute;
    max-width: 144rem;
    height: auto;
    z-index: -1;
}

.img2 {
    max-width: 100%;
    max-height: 100%;
    object-position: bottom;
}


.dots-img {
    position: absolute;
    top: -0.4rem;
}

.cnt-img {
    position: relative;
    width: 80%;
    aspect-ratio: 2/1;
}

img.office-img {
    width: 100%;
    height: 100%;
}

/* DIRHA F SVG
 */

.cnt-blindman {
    display: none;
}



@media (min-width: 513px) {
    .nav-links li:nth-child(3) {
        display: block;
    }

    .burger {
        display: none;
    }

}

@media (max-width: 512px) {

    .nav-links li:nth-child(5),
    .nav-links li:nth-child(1) {
        display: none;
    }
}

@media (min-width: 630px) {
    .nav-links li:nth-child(2) {
        display: block;
    }
}



@media (min-width: 720px) {
    .nav-links li:nth-child(4) {
        display: block;
    }

    .cnt-blindman {
        display: block;
    }

    .showcase {
        display: flex;
        padding-top: 2.4rem;
    }

    .cnt-showcase {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .svg-img {
        aspect-ratio: 1438/546;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        z-index: -1;
    }

    .img2 {
        max-width: 100%;
        max-height: 100%;
        object-position: bottom;
    }

    .title-1 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.56;
        color: #E87D0E;
    }

    .title-2 {

        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2;
    }

    p {
        font-size: 1.7rem;
        line-height: 2;
        font-weight: 400;
    }

    .cnt-blindman {}
}